In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from acquire_g import get_zillow_data
from prepare import acquire_and_prep_data, fips_labels

## Acquire data

In [2]:
df = get_zillow_data()
df.head()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id.1,parcelid.1,logerror,transactiondate,propertylandusetypeid.1,propertylandusedesc
0,1248,17305333,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,212.46,NaN,NaN,6.111002e+13,1248,11289917,-0.362001,2017-06-23,263,Mobile Home
1,1772,10838338,NaN,NaN,NaN,2.0,4.0,NaN,6.0,2.0,...,6089.82,NaN,NaN,6.037128e+13,1772,11705026,-0.146056,2017-06-30,261,Single Family Residential
2,2028,10901531,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6679.55,NaN,NaN,6.037125e+13,2028,14269464,0.021085,2017-06-01,261,Single Family Residential
3,3273,11262089,1.0,NaN,NaN,2.0,3.0,NaN,8.0,2.0,...,3876.31,NaN,NaN,6.037901e+13,3273,11389003,-0.325393,2017-06-01,261,Single Family Residential
4,3429,11323134,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,4206.15,NaN,NaN,6.037901e+13,3429,11967869,-0.005566,2017-06-29,261,Single Family Residential

In [3]:
# 19667 rows with 65 columns. 
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19667 entries, 0 to 19666
Data columns (total 65 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            19667 non-null  int64
 1   parcelid                      19667 non-null  int64
 2   airconditioningtypeid         5759 non-null   float64
 3   architecturalstyletypeid      28 non-null     float64
 4   basementsqft                  5 non-null      float64
 5   bathroomcnt                   19667 non-null  float64
 6   bedroomcnt                    19667 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         14715 non-null  float64
 9   calculatedbathnbr             19292 non-null  float64
 10  decktypeid                    85 non-null     float64
 11  finishedfloor1squarefeet      961 non-null    float64
 12  calculatedfinishedsquarefeet  19505 non-null  float64
 13  finishedsquarefeet12          19434 non-null  float64
 14  finishedsquarefeet13          33 non-null     float64
 15  finishedsquarefeet15          1 non-null      float64
 16  finishedsquarefeet50          961 non-null    float64
 17  finishedsquarefeet6           37 non-null     float64
 18  fips                          19667 non-null  float64
 19  fireplacecnt                  1537 non-null   float64
 20  fullbathcnt                   19292 non-null  float64
 21  garagecarcnt                  4365 non-null   float64
 22  garagetotalsqft               4365 non-null   float64
 23  hashottuborspa                249 non-null    float64
 24  heatingorsystemtypeid         14797 non-null  float64
 25  latitude                      19667 non-null  float64
 26  longitude                     19667 non-null  float64
 27  lotsizesquarefeet             18377 non-null  float64
 28  poolcnt                       3894 non-null   float64
 29  poolsizesum                   141 non-null    float64
 30  pooltypeid10                  72 non-null     float64
 31  pooltypeid2                   177 non-null    float64
 32  pooltypeid7                   3713 non-null   float64
 33  propertycountylandusecode     19666 non-null  object
 34  propertylandusetypeid         19667 non-null  float64
 35  propertyzoningdesc            14829 non-null  object
 36  rawcensustractandblock        19667 non-null  float64
 37  regionidcity                  19346 non-null  float64
 38  regionidcounty                19667 non-null  float64
 39  regionidneighborhood          8404 non-null   float64
 40  regionidzip                   19628 non-null  float64
 41  roomcnt                       19667 non-null  float64
 42  storytypeid                   5 non-null      float64
 43  threequarterbathnbr           1557 non-null   float64
 44  typeconstructiontypeid        29 non-null     float64
 45  unitcnt                       14782 non-null  float64
 46  yardbuildingsqft17            390 non-null    float64
 47  yardbuildingsqft26            15 non-null     float64
 48  yearbuilt                     19501 non-null  float64
 49  numberofstories               3232 non-null   float64
 50  fireplaceflag                 21 non-null     float64
 51  structuretaxvaluedollarcnt    19467 non-null  float64
 52  taxvaluedollarcnt             19517 non-null  float64
 53  assessmentyear                19667 non-null  float64
 54  landtaxvaluedollarcnt         19406 non-null  float64
 55  taxamount                     19587 non-null  float64
 56  taxdelinquencyflag            365 non-null    object
 57  taxdelinquencyyear            365 non-null    float64
 58  censustractandblock           19410 non-null  float64
 59  id.1                          19667 non-null  int64
 60  parcelid.1                    19667 non-null  int64
 61  logerror                      19667 non-null  float64
 62  transactiondate               19667 non-null  object
 63  propertylandusetypeid.1       19667 non-null  int64
 64  propertylandusedesc           19667 non-null  object
dtypes: float64(55), int64(5), object(5)
memory usage: 9.9+ MB

In [4]:
df.shape

(19667, 65)

In [5]:
df.describe()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id.1,parcelid.1,logerror,propertylandusetypeid.1
count,19667.000000,1.966700e+04,5759.000000,28.000000,5.000000,19667.000000,19667.000000,0.0,14715.000000,19292.000000,...,1.951700e+04,19667.000000,1.940600e+04,19587.000000,365.000000,1.941000e+04,19667.000000,1.966700e+04,19667.000000,19667.000000
mean,42440.132913,1.287254e+07,1.636569,7.428571,346.400000,2.176616,3.024610,NaN,6.366293,2.218225,...,4.437070e+05,2015.998881,2.723266e+05,5410.536255,13.909589,6.045248e+13,42440.132913,1.301572e+07,0.012572,261.873850
std,6405.396349,6.483780e+06,2.620302,2.847072,179.072053,1.019658,1.071531,NaN,1.714812,0.983306,...,6.063405e+05,0.037716,4.327098e+05,7030.253947,1.577674,1.746110e+11,6405.396349,3.368988e+06,0.168676,1.890042
min,1248.000000,1.071177e+07,1.000000,2.000000,154.000000,0.000000,0.000000,NaN,1.000000,1.000000,...,1.900000e+01,2014.000000,1.000000e+01,10.100000,6.000000,6.037101e+13,1248.000000,1.071210e+07,-2.922919,261.000000
25%,37205.500000,1.150076e+07,1.000000,7.000000,176.000000,2.000000,2.000000,NaN,5.000000,2.000000,...,1.814150e+05,2016.000000,7.329775e+04,2427.880000,14.000000,6.037293e+13,37205.500000,1.154513e+07,-0.026635,261.000000
50%,42443.000000,1.227121e+07,1.000000,7.000000,360.000000,2.000000,3.000000,NaN,6.000000,2.000000,...,3.119700e+05,2016.000000,1.720185e+05,3920.760000,14.000000,6.037551e+13,42443.000000,1.253510e+07,0.004279,261.000000
75%,47782.500000,1.308146e+07,1.000000,7.000000,498.000000,3.000000,4.000000,NaN,8.000000,3.000000,...,5.097140e+05,2016.000000,3.279560e+05,6140.555000,15.000000,6.037920e+13,47782.500000,1.422146e+07,0.035831,261.000000
max,53503.000000,1.681828e+08,13.000000,21.000000,544.000000,20.000000,25.000000,NaN,12.000000,20.000000,...,1.912982e+07,2016.000000,1.491180e+07,228999.210000,15.000000,6.111009e+13,53503.000000,1.676878e+08,3.175688,275.000000

In [6]:
# Have and object, float and int
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19667 entries, 0 to 19666
Data columns (total 65 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            19667 non-null  int64
 1   parcelid                      19667 non-null  int64
 2   airconditioningtypeid         5759 non-null   float64
 3   architecturalstyletypeid      28 non-null     float64
 4   basementsqft                  5 non-null      float64
 5   bathroomcnt                   19667 non-null  float64
 6   bedroomcnt                    19667 non-null  float64
 7   buildingclasstypeid           0 non-null      float64
 8   buildingqualitytypeid         14715 non-null  float64
 9   calculatedbathnbr             19292 non-null  float64
 10  decktypeid                    85 non-null     float64
 11  finishedfloor1squarefeet      961 non-null    float64
 12  calculatedfinishedsquarefeet  19505 non-null  float64
 13  finishedsquarefeet12          19434 non-null  float64
 14  finishedsquarefeet13          33 non-null     float64
 15  finishedsquarefeet15          1 non-null      float64
 16  finishedsquarefeet50          961 non-null    float64
 17  finishedsquarefeet6           37 non-null     float64
 18  fips                          19667 non-null  float64
 19  fireplacecnt                  1537 non-null   float64
 20  fullbathcnt                   19292 non-null  float64
 21  garagecarcnt                  4365 non-null   float64
 22  garagetotalsqft               4365 non-null   float64
 23  hashottuborspa                249 non-null    float64
 24  heatingorsystemtypeid         14797 non-null  float64
 25  latitude                      19667 non-null  float64
 26  longitude                     19667 non-null  float64
 27  lotsizesquarefeet             18377 non-null  float64
 28  poolcnt                       3894 non-null   float64
 29  poolsizesum                   141 non-null    float64
 30  pooltypeid10                  72 non-null     float64
 31  pooltypeid2                   177 non-null    float64
 32  pooltypeid7                   3713 non-null   float64
 33  propertycountylandusecode     19666 non-null  object
 34  propertylandusetypeid         19667 non-null  float64
 35  propertyzoningdesc            14829 non-null  object
 36  rawcensustractandblock        19667 non-null  float64
 37  regionidcity                  19346 non-null  float64
 38  regionidcounty                19667 non-null  float64
 39  regionidneighborhood          8404 non-null   float64
 40  regionidzip                   19628 non-null  float64
 41  roomcnt                       19667 non-null  float64
 42  storytypeid                   5 non-null      float64
 43  threequarterbathnbr           1557 non-null   float64
 44  typeconstructiontypeid        29 non-null     float64
 45  unitcnt                       14782 non-null  float64
 46  yardbuildingsqft17            390 non-null    float64
 47  yardbuildingsqft26            15 non-null     float64
 48  yearbuilt                     19501 non-null  float64
 49  numberofstories               3232 non-null   float64
 50  fireplaceflag                 21 non-null     float64
 51  structuretaxvaluedollarcnt    19467 non-null  float64
 52  taxvaluedollarcnt             19517 non-null  float64
 53  assessmentyear                19667 non-null  float64
 54  landtaxvaluedollarcnt         19406 non-null  float64
 55  taxamount                     19587 non-null  float64
 56  taxdelinquencyflag            365 non-null    object
 57  taxdelinquencyyear            365 non-null    float64
 58  censustractandblock           19410 non-null  float64
 59  id.1                          19667 non-null  int64
 60  parcelid.1                    19667 non-null  int64
 61  logerror                      19667 non-null  float64
 62  transactiondate               19667 non-null  object
 63  propertylandusetypeid.1       19667 non-null  int64
 64  propertylandusedesc           19667 non-null  object
dtypes: float64(55), int64(5), object(5)
memory usage: 9.9+ MB

In [7]:
# df cut down to read 22 column brandon and i aggreed on. then cut more to get mvp
df = df[['parcelid','bathroomcnt','bedroomcnt','calculatedbathnbr','calculatedfinishedsquarefeet','finishedsquarefeet12','fips','fullbathcnt','latitude','longitude','propertycountylandusecode','propertylandusetypeid','regionidcity','regionidcounty','regionidzip','roomcnt','yearbuilt','structuretaxvaluedollarcnt','taxvaluedollarcnt','taxamount','transactiondate','propertylandusetypeid.1']]
df.head().T

,0,1,2,3,4
parcelid,17305333,10838338,10901531,11262089,11323134
bathroomcnt,0,2,3,2,2
bedroomcnt,0,4,3,3,2
calculatedbathnbr,NaN,2,3,2,2
calculatedfinishedsquarefeet,1000,1604,2384,1574,1619
finishedsquarefeet12,NaN,1604,2384,1574,1619
fips,6111,6037,6037,6037,6037
fullbathcnt,NaN,2,3,2,2
latitude,3.42551e+07,3.41878e+07,3.41611e+07,3.46537e+07,3.462e+07
longitude,-1.19212e+08,-1.18486e+08,-1.1839e+08,-1.18222e+08,-1.18283e+08
propertycountylandusecode,1118,0101,0101,0100,0100
propertylandusetypeid,263,261,261,261,261
regionidcity,34543,12447,12447,5534,40227
regionidcounty,2061,3101,3101,3101,3101
regionidzip,97083,96415,96452,97319,97329
roomcnt,0,0,0,0,0
yearbuilt,2002,1950,1937,1990,1983
structuretaxvaluedollarcnt,27400,238707,133562,121780,255000
taxvaluedollarcnt,27400,498347,549917,235272,340000
taxamount,212.46,6089.82,6679.55,3876.31,4206.15
transactiondate,2017-06-23,2017-06-30,2017-06-01,2017-06-01,2017-06-29
propertylandusetypeid.1,263,261,261,261,261

In [8]:
# dropped 2 more columns
df = df.drop(columns = ['propertycountylandusecode', 'transactiondate'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19667 entries, 0 to 19666
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      19667 non-null  int64
 1   bathroomcnt                   19667 non-null  float64
 2   bedroomcnt                    19667 non-null  float64
 3   calculatedbathnbr             19292 non-null  float64
 4   calculatedfinishedsquarefeet  19505 non-null  float64
 5   finishedsquarefeet12          19434 non-null  float64
 6   fips                          19667 non-null  float64
 7   fullbathcnt                   19292 non-null  float64
 8   latitude                      19667 non-null  float64
 9   longitude                     19667 non-null  float64
 10  propertylandusetypeid         19667 non-null  float64
 11  regionidcity                  19346 non-null  float64
 12  regionidcounty                19667 non-null  float64
 13  regionidzip                   19628 non-null  float64
 14  roomcnt                       19667 non-null  float64
 15  yearbuilt                     19501 non-null  float64
 16  structuretaxvaluedollarcnt    19467 non-null  float64
 17  taxvaluedollarcnt             19517 non-null  float64
 18  taxamount                     19587 non-null  float64
 19  propertylandusetypeid.1       19667 non-null  int64
dtypes: float64(18), int64(2)
memory usage: 3.2 MB

In [10]:
df.isna().sum()

parcelid                          0
bathroomcnt                       0
bedroomcnt                        0
calculatedbathnbr               375
calculatedfinishedsquarefeet    162
finishedsquarefeet12            233
fips                              0
fullbathcnt                     375
latitude                          0
longitude                         0
propertylandusetypeid             0
regionidcity                    321
regionidcounty                    0
regionidzip                      39
roomcnt                           0
yearbuilt                       166
structuretaxvaluedollarcnt      200
taxvaluedollarcnt               150
taxamount                        80
propertylandusetypeid.1           0
dtype: int64

In [11]:
df.isnull().sum()

parcelid                          0
bathroomcnt                       0
bedroomcnt                        0
calculatedbathnbr               375
calculatedfinishedsquarefeet    162
finishedsquarefeet12            233
fips                              0
fullbathcnt                     375
latitude                          0
longitude                         0
propertylandusetypeid             0
regionidcity                    321
regionidcounty                    0
regionidzip                      39
roomcnt                           0
yearbuilt                       166
structuretaxvaluedollarcnt      200
taxvaluedollarcnt               150
taxamount                        80
propertylandusetypeid.1           0
dtype: int64

In [12]:
# only 3 fips
df.fips.nunique()

3

In [13]:
# These are the columns we will be using for our mvp
df = df[['fullbathcnt','calculatedfinishedsquarefeet','bathroomcnt', 'bedroomcnt', 'regionidzip', 'fips', 'taxamount', 'taxvaluedollarcnt', 'yearbuilt']]
df

,fullbathcnt,calculatedfinishedsquarefeet,bathroomcnt,bedroomcnt,regionidzip,fips,taxamount,taxvaluedollarcnt,yearbuilt
0,NaN,1000.0,0.0,0.0,97083.0,6111.0,212.46,27400.0,2002.0
1,2.0,1604.0,2.0,4.0,96415.0,6037.0,6089.82,498347.0,1950.0
2,3.0,2384.0,3.0,3.0,96452.0,6037.0,6679.55,549917.0,1937.0
3,2.0,1574.0,2.0,3.0,97319.0,6037.0,3876.31,235272.0,1990.0
4,2.0,1619.0,2.0,2.0,97329.0,6037.0,4206.15,340000.0,1983.0
...,...,...,...,...,...,...,...,...,...
19662,2.0,2040.0,2.0,3.0,96479.0,6037.0,4532.87,321351.0,1946.0
19663,1.0,1292.0,1.0,2.0,96479.0,6037.0,813.11,32830.0,1947.0
19664,1.0,684.0,1.0,1.0,96479.0,6037.0,4495.39,324000.0,1939.0
19665,2.0,1536.0,2.0,4.0,96479.0,6037.0,4014.27,284770.0,1951.0
19666,2.0,1706.0,2.0,4.0,96479.0,6037.0,6350.89,441000.0,1951.0

In [14]:
df.isnull().sum()

fullbathcnt                     375
calculatedfinishedsquarefeet    162
bathroomcnt                       0
bedroomcnt                        0
regionidzip                      39
fips                              0
taxamount                        80
taxvaluedollarcnt               150
yearbuilt                       166
dtype: int64

In [15]:
# Dropping nulls
df = df.dropna()
df.isnull().sum()

fullbathcnt                     0
calculatedfinishedsquarefeet    0
bathroomcnt                     0
bedroomcnt                      0
regionidzip                     0
fips                            0
taxamount                       0
taxvaluedollarcnt               0
yearbuilt                       0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19229 entries, 1 to 19666
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   fullbathcnt                   19229 non-null  float64
 1   calculatedfinishedsquarefeet  19229 non-null  float64
 2   bathroomcnt                   19229 non-null  float64
 3   bedroomcnt                    19229 non-null  float64
 4   regionidzip                   19229 non-null  float64
 5   fips                          19229 non-null  float64
 6   taxamount                     19229 non-null  float64
 7   taxvaluedollarcnt             19229 non-null  float64
 8   yearbuilt                     19229 non-null  float64
dtypes: float64(9)
memory usage: 1.5 MB

### Changing data types

In [17]:
df['bedroomcnt'] = df['bedroomcnt'].astype(int)
df['calculatedfinishedsquarefeet'] = df['calculatedfinishedsquarefeet'].astype(int)
df['regionidzip']=df['regionidzip'].astype(int)
df['fips'] = df['fips'].astype(int)
df['yearbuilt']=df['yearbuilt'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19229 entries, 1 to 19666
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   fullbathcnt                   19229 non-null  float64
 1   calculatedfinishedsquarefeet  19229 non-null  int64
 2   bathroomcnt                   19229 non-null  float64
 3   bedroomcnt                    19229 non-null  int64
 4   regionidzip                   19229 non-null  int64
 5   fips                          19229 non-null  int64
 6   taxamount                     19229 non-null  float64
 7   taxvaluedollarcnt             19229 non-null  float64
 8   yearbuilt                     19229 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 1.5 MB

In [19]:
# Renaming features
df = df.rename(columns={'calculatedfinishedsquarefeet': 'sqft', 'regionidzip': 'zipcode'})
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zipcode,fips,taxamount,taxvaluedollarcnt,yearbuilt
1,2.0,1604,2.0,4,96415,6037,6089.82,498347.0,1950
2,3.0,2384,3.0,3,96452,6037,6679.55,549917.0,1937
3,2.0,1574,2.0,3,97319,6037,3876.31,235272.0,1990
4,2.0,1619,2.0,2,97329,6037,4206.15,340000.0,1983
5,3.0,1936,3.0,3,96124,6037,5278.74,418146.0,1986

In [20]:
# Calculating tax rate
df['tax_rate'] = round((df['taxamount'] / df['taxvaluedollarcnt']) * 100 , 2)
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zipcode,fips,taxamount,taxvaluedollarcnt,yearbuilt,tax_rate
1,2.0,1604,2.0,4,96415,6037,6089.82,498347.0,1950,1.22
2,3.0,2384,3.0,3,96452,6037,6679.55,549917.0,1937,1.21
3,2.0,1574,2.0,3,97319,6037,3876.31,235272.0,1990,1.65
4,2.0,1619,2.0,2,97329,6037,4206.15,340000.0,1983,1.24
5,3.0,1936,3.0,3,96124,6037,5278.74,418146.0,1986,1.26

In [21]:
# Creating a function to change fips to the county name
def fips_labels(x):
    if x['fips'] == 6037:
        return 'Los Angeles County'
    elif x['fips'] == 6059:
        return 'Orange County'
    elif x['fips'] == 6111:
        return 'Ventura County'

In [22]:
# Creating a county column
df['county'] = df.apply(lambda x: fips_labels(x), axis=1)
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zipcode,fips,taxamount,taxvaluedollarcnt,yearbuilt,tax_rate,county
1,2.0,1604,2.0,4,96415,6037,6089.82,498347.0,1950,1.22,Los Angeles County
2,3.0,2384,3.0,3,96452,6037,6679.55,549917.0,1937,1.21,Los Angeles County
3,2.0,1574,2.0,3,97319,6037,3876.31,235272.0,1990,1.65,Los Angeles County
4,2.0,1619,2.0,2,97329,6037,4206.15,340000.0,1983,1.24,Los Angeles County
5,3.0,1936,3.0,3,96124,6037,5278.74,418146.0,1986,1.26,Los Angeles County

In [23]:
# Dropping fips now that we have county column
df = df.drop(columns = ['fips'])
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zipcode,taxamount,taxvaluedollarcnt,yearbuilt,tax_rate,county
1,2.0,1604,2.0,4,96415,6089.82,498347.0,1950,1.22,Los Angeles County
2,3.0,2384,3.0,3,96452,6679.55,549917.0,1937,1.21,Los Angeles County
3,2.0,1574,2.0,3,97319,3876.31,235272.0,1990,1.65,Los Angeles County
4,2.0,1619,2.0,2,97329,4206.15,340000.0,1983,1.24,Los Angeles County
5,3.0,1936,3.0,3,96124,5278.74,418146.0,1986,1.26,Los Angeles County

In [24]:
#df['bedroomcnt'] = df.apply(lambda x: bedrooms(x), axis=1)
df = df[df.bedroomcnt < 6]
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zipcode,taxamount,taxvaluedollarcnt,yearbuilt,tax_rate,county
1,2.0,1604,2.0,4,96415,6089.82,498347.0,1950,1.22,Los Angeles County
2,3.0,2384,3.0,3,96452,6679.55,549917.0,1937,1.21,Los Angeles County
3,2.0,1574,2.0,3,97319,3876.31,235272.0,1990,1.65,Los Angeles County
4,2.0,1619,2.0,2,97329,4206.15,340000.0,1983,1.24,Los Angeles County
5,3.0,1936,3.0,3,96124,5278.74,418146.0,1986,1.26,Los Angeles County

In [25]:
# Testing the acquire and prep function
df = acquire_and_prep_data()
df.head()

,fullbathcnt,sqft,bathroomcnt,bedroomcnt,zip_code,taxamount,home_value,yearbuilt,tax_rate,county
1,2.0,1604,2.0,4,96415,6089.82,498347.0,1950,1.22,Los Angeles County
2,3.0,2384,3.0,3,96452,6679.55,549917.0,1937,1.21,Los Angeles County
3,2.0,1574,2.0,3,97319,3876.31,235272.0,1990,1.65,Los Angeles County
4,2.0,1619,2.0,2,97329,4206.15,340000.0,1983,1.24,Los Angeles County
5,3.0,1936,3.0,3,96124,5278.74,418146.0,1986,1.26,Los Angeles County

In [26]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   acquire_prep_g.ipynb
	modified:   explore_g.ipynb
	modified:   model_g.ipynb
	modified:   prepare.py
	modified:   wrangle.py

no changes added to commit (use "git add" and/or "git commit -a")

In [27]:
#! git add -A

In [28]:
#! git commit -m "adding limits of bedrooms and bathrooms"

In [29]:
#!git push

In [30]:
# git pull